*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;   
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(78, 14, 138);
    color: white;
    
}

.img-sidebar img{ 
    width: 50%;
    border: 4px solid #710c92;
    border-radius: 60%;
    position: relative center ;
   

}